# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
*.png
*.apk
*.ap_
*.dex
*.classpath
*.project
*.prefs
FloatingWindow/gen/com/phicomm/hu/BuildConfig.java
FloatingWindow/bin/AndroidManifest.xml
FloatingWindow/gen/com/phicomm/hu/R.java
FloatingWindow/proguard.cfg
*.properties
FloatingWindow/res/values/strings.xml
枪林弹雨/bin/AndroidManifest.xml
枪林弹雨/bin/dexedLibs/annotations-7fd9be63f4fb806cd488a675dfe31c06.jar
枪林弹雨/bin/jarlist.cache
枪林弹雨/gen/com/pg/BuildConfig.java
枪林弹雨/gen/com/pg/R.java
枪林弹雨/proguard.cfg
枪林弹雨/res/values/strings.xml
